
.tabla{
    background-color: rgb(218, 180, 253);
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
    padding: 30px;
    padding-left: 130px;
}

.contenido{
    background-color: rgb(255, 193, 231);
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
    padding: 30px;
}

.escribirT{
    width: 600px;
}

button{
    background:none;
    border: 0;
    font-size: large;
}

.borrar{
    background-color: rgb(255, 71, 71);
    font-size: medium;
    color: white;
}

.UsuarioN{
    background-color: rgb(179, 219, 255);
    height:40px ;
}